@font-face {
  font-family: material-icons;
  src: url("../fonts/Material_Icons/font/MaterialIconsOutlined-Regular.otf")
    format("opentype");
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900; /* Variable Font unterstützt Gewichte von 100 bis 900 */
  font-style: italic;
}

@font-face {
  font-family: 'Nohemi';
  src: url('../fonts/Nohemi/Web-TT/Nohemi-Black.woff2') format('woff2'),
       url('../fonts/Nohemi/Web-TT/Nohemi-Black.woff') format('woff');
  font-weight: 100 900;
  font-style: normal;
}
