header {
  a {
    color: var(--color-green-dark);
  }

  margin-bottom: var(--xl);
}

h2 {
  font-size: var(--fs-s);
  font-weight: var(--fw-bold);
  color: var(--color-green-dark);
  margin-bottom: var(--xs);
}

.file-input { /* Rausnehmen, wenn Warteliste implementiert ist */
  display: block;
  margin-bottom: var(--s);
  font-size: var(--fs-s);
  color: var(--color-green-dark);
  border-radius: 5px;
  padding: var(--eighth);
}

.player-grid {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: 1fr 1.645fr 1fr;
  grid-template-rows: minmax(0, 1fr) minmax(0, 0.514fr);

  .cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.player-grid > * {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  color: var(--color-lightest);
  background-color: var(--color-green-dark);
}

.track-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;

  > * {
    padding-left: var(--m);
    padding-right: var(--m);
  }

  h3 {
    font-size: var(--fs-xl);
    font-weight: var(--fw-bold);
    padding-top: var(--m);
    color: var(--color-yellow);
  }

  .track-details {
    padding-bottom: var(--m);

    .artist {
      font-size: var(--fs-m);
      font-weight: var(--fw-bold);
      margin-bottom: 5px;
    }

    .album {
      font-size: var(--fs-m);
      font-weight: var(--fw-light);
    }
  }
}

.button-group {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: var(--color-lightest);

  > * {
    border-radius: 20px;
  }
}

button {
  width: 100%;
  height: 100%;
  color: var(--color-lightest);
  background-color: var(--color-green-dark);
  border: none;
}

.play-pause-btn {
  border-radius: 20px;
  font-size: var(--fs-xxl);
  font-weight: var(--fw-black);
}

.progressbar {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 16px;
  color: var(--color-green-dark);
  border-radius: var(--quarter);
  margin-top: var(--m);
  outline: none;
}

/* Chrome, Safari, Edge */
.progressbar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px; /* Größe des gelben Punkts */
  height: 16px;
  background: var(--color-pink);
  border-radius: 50%;
  cursor: pointer;
}

.progressbar::-webkit-slider-runnable-track {
  height: 16px;
  background: var(--color-green-dark);
  border-radius: 8px;
}

/* Firefox */
.progressbar::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: var(--color-pink);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.progressbar::-moz-range-track {
  height: 16px;
  background: var(--color-green-dark);
  border-radius: 8px;
}

/* IE, Edge (alt) */
.progressbar::-ms-thumb {
  width: 16px;
  height: 16px;
  background: var(--color-pink);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.progressbar::-ms-track {
  height: 16px;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.progressbar::-ms-fill-lower {
  background: var(--color-green-dark);
  border-radius: 8px;
}

.progressbar::-ms-fill-upper {
  background: var(--color-green-dark);
  border-radius: 8px;
}

.time-display {
  display: flex;
  justify-content: space-between;
  font-size: var(--fs-xs);
  font-weight: var(--fw-regular);
  color: var(--color-green-dark);
  margin-top: var(--xxs);
}

:focus {
  outline: 3px solid var(--color-green-dark);
  outline-offset: 2px;
}